
/*Accordion*/
button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

button.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2212";
}

div.panel #panel-xyz {
    /*padding: 0 18px;*/
    background-color: white;
    max-height: 0;
    /*overflow: hidden;*/
    transition: 0.6s ease-in-out;
    /*opacity: 0;*/
}

div.panel.show {
    opacity: 1;
    max-height: 500px;  
}

.feature-center{
	text-align: center !important;
}
.feature-center .icon i {
	display: table-cell;
    vertical-align: middle;
    font-size:50px;
    color: #F78536;
}
.heading-section{
	margin-bottom: 3em !important;
}
.feature-copy h3
{
	line-height: 1.8em !important;
}
#fh5co-work-section, #fh5co-car, #fh5co-blog-section, #fh5co-features, #fh5co-tours, #fh5co-testimonial, .fh5co-content-section{
	padding: 4em 0 !important;
}

.fh5co-cover, .fh5co-hero{
	height:auto !important;
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img{
	height:450px !important;
	width: 100% !important;
}
#login_page{height:650px !important;}
#img-traning{
	width: 	100% !important;
}
.fh5co-tours > div:after{
	background: none !important;
	box-shadow: 0 !important;
}

.fh5co-tours > div:hover{
	box-shadow: none !important;
}
.fh5co-tours > div:hover:after{
		box-shadow: none !important;
		position: none !important;
}
.desc {
	background: #fff;
	padding:5px;
}
.content{

}
.jumbotron{
	background: #F5F5F5 !important;
	padding-left: 20px !important;
    padding-right: 20px !important;
}

#right .media{
	border-bottom: 1px solid #D5D5D5 !important;
}

